/* app css stylesheet */

ul.comments {
	list-style: none;
}

ul.comments > li {
	margin: 10px 5px;
}

.profile-img {
	float: left;

	background-color: white;
	padding: 2px;
	border: 2px solid gray;

	height: 50px;
	width: 50px;
}

.profile-img > img {
	width: 100%;
	height: 100%;
}

.comment-content {
	float: left;

	line-height: 40px;

	width: auto;
	max-width: calc(~"100% - 77px");
	min-height: 40px;
	margin: 5px 10px;
	line-height: 40px;
	border: 1px solid #999;
	border-radius: 5px;
	background-color: #fff;
	position: relative;
	padding: 0 5px;
}

.comment-content > p {
	margin: 0;
}

.comment-content:after, .comment-content:before {
	right: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.comment-content:after {
	border-color: rgba(255, 255, 255, 0);
	border-right-color: #fff;
	border-width: 6px;
	top: 50%;
	margin-top: -6px;
}

.comment-content:before {
	border-color: rgba(153, 153, 153, 0);
	border-right-color: #999;
	border-width: 7px;
	top: 50%;
	margin-top: -7px;
}

body{
	background-color: #000;
}

.grid {  
	width: 800px; 
	height: 500px;
	border: 4px solid #333; 
}

.grid div {float: left; height: 100%;}

.sidebar {  
	width: 20%;
	height: 100%;
 	border: 1px solid #333; 
 	background-color: #333;

}

.window {
	width: 80%;
	border: 1px solid #333;
	padding: 10px; 
	background-color: #eee;
}

.clear {clear: both;}
