<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-lg-2">
      <p><a class="btn btn-default" href="#"> + </a></p> 
      <h4>VOLUME</h4>
      <p><a class="btn btn-danger" href="#"> - </a></p>
    </div>
    <div class="col-lg-2">
      <h4>STATION</h4>
      <p>102.7</p>
      <p><a class="btn btn-default" href="#"> + </a><a class="btn btn-danger" href="#"> - </a></p>
   </div>
    <div class="col-lg-2">
      <h4>INPUT</h4>
      <p><a class="btn btn-default" href="#">FM</a><a class="btn btn-default" href="#">AM</a></p>
      <p><a class="btn btn-default" href="#">AUX</a><a class="btn btn-default" href="#">CD</a></p>
    </div>
  </div>
</div>