
<div class="well" style="text-align:center;">
 	<img src="img/csulaecocar2.png"  style="width:145px;">
 	<img src="img/doe-logo.png" style="width:145px;"><br/>
 	<img src="img/freescale.jpg" style="width:145px;">
 	<img src="img/GM-logo.jpg" style="width:145px;">
 	<p>
 		<br> <h3>Welcome, user.</h3><br>
 	</p>
</div>
<div class="well">
	<div class="btn-group">
  	<button class="btn btn-primary btn-lg dropdown-toggle" type="button" data-toggle="dropdown">
    	Options <span class="caret"></span>
  	</button>
  	<ul class="dropdown-menu">
    	<li><a href="#">Action</a></li>
    	<li><a href="#">Another action</a></li>
  	</ul>
  	<br/><br/><br/><br/><br/><br/><br/>
  	<button class="btn btn-warning  dropdown-toggle" type="button" data-toggle="dropdown">
    	Settings <span class="caret"></span>
  	</button>
  	<ul class="dropdown-menu">
    	<li><a href="#">Action</a></li>
    	<li><a href="#">Another action</a></li>
    </ul>
  </div>
</div>
